<div class="w-full min-h-screen flex items-center justify-center">
  <div
    class="w-8/12 p-5 bg-white rounded-xl bg-opacity-20 backdrop-filter backdrop-blur-lg border-solid border-gray-300 border-2 box-border shadow-2xl shadow-cyan-500/50"
  >
    <app-header></app-header>
    <div class="p-5">
      <div class="flex gap-5 py-3">
        <app-toggle-btn
          [type]="'Gramatica'"
          (toggle)="toggleChangeBy($event)"
        ></app-toggle-btn>
        <app-toggle-btn
          [type]="'Enriquecido'"
          (toggle)="toggleChangeBy($event)"
        ></app-toggle-btn>
      </div>
      <quill-editor
        [modules]="toolbar"
        [ngClass]="enrichStatus ? 'enrich' : 'normal'"
        [(ngModel)]="htmlContent"
        (ngModelChange)="textChanged()"
      ></quill-editor>
    </div>
  </div>
</div>
