// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$codely-text-primary: mat.define-palette(mat.$indigo-palette);
$codely-text-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$codely-text-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$codely-text-theme: mat.define-light-theme(
  (
    color: (
      primary: $codely-text-primary,
      accent: $codely-text-accent,
      warn: $codely-text-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($codely-text-theme);

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Objectivity";
  src: url("/assets/fonts/Objectivity-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Objectivity";
  src: url("/assets/fonts/Objectivity-Bold.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Objectivity";
  src: url("/assets/fonts/Objectivity-Medium.otf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

body,
.ql-editor {
  font-family: "Objectivity", sans-serif !important;
}

body {
  background: linear-gradient(45deg, #000027, #000000, #0b0f49);
  background-size: 600% 100%;
  animation: gradient 30s linear infinite;
  animation-direction: alternate;
}

.typed {
  border-right: 3px solid;
  width: 0;
  animation: typing 1.5s steps(30, end) forwards, blinking 1s infinite;
}

.cursor-animated {
  animation: blinking 1s infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinking {
  0% {
    border-right-color: transparent;
  }
  50% {
    border-right-color: #3dbaf0;
  }
  100% {
    border-right-color: transparent;
  }
}

input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #34afe4;
}

.mat-icon {
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    opacity: 0.8;
  }
}

// Quill Editor Styles

.ql-toolbar.ql-snow,
.ql-editor,
.ql-container.ql-snow {
  background-color: white;
}

.ql-editor{
  padding-bottom: 3rem;
}

.ql-editor > p {
  margin: 0;
}

.ql-container.ql-snow {
  height: 10rem;
  min-height: 15rem;
  padding-bottom: 3.5em;
}

@media (max-width: 640px) {
  .ql-container.ql-snow {
    height: 20rem;
    min-height: 25rem;
  }
}

.enrich {
  .ql-toolbar.ql-snow,
  .ql-container.ql-snow,
  .ql-editor {
    border: none;
  }

  .ql-toolbar.ql-snow {
    border-radius: 5px 5px 0 0;
    border-bottom: 0;
  }

  .ql-container.ql-snow,
  .ql-editor {
    border-radius: 0 0 5px 5px;
  }
}

.normal {
  .ql-toolbar.ql-snow {
    display: none;
  }

  .ql-container.ql-snow,
  .ql-editor {
    border-radius: 5px;
    border: none;
  }
}

// Scrollbar Styles

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(187, 187, 187);
  border-radius: 0 3px 3px 0;
}

::-webkit-scrollbar-thumb {
  background: #3dbaf0;
  border-radius: 6px;
  cursor: default;
}

::-webkit-scrollbar-thumb:hover {
  background: #51c2f3
}

// Material: Custom Styles

:host {
  display: flex;
}

.mat-snack-bar-container {
  max-width: 16rem !important;
  min-width: 6rem !important;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 2px );
  -webkit-backdrop-filter: blur( 2px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  height: 3rem;
}
